@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    height: 100dvh;
}

#Backspace{
    background-image: url("../assets/delete-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
}